@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<section id="home" >
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../../Content/TeamTheme/images/slider/bg-1.jpg)">
                <!-- Change Image -->
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Welcome to <strong>Agricalure</strong></h1>
                    <p class="animated fadeInRightBig">Premium Multipurpose Theme</p>
                    <a data-scroll class="learn-more animated fadeInUpBig" href="#servic">Start now</a>
                </div>
            </div>
            <div class="item" style="background-image: url(../../Content/TeamTheme/images/slider/bg-2.jpg)">
                <!-- Change Image -->
                <div class="caption">
                    <h1 class="animated fadeInLeftBig"><strong>Agricalure</strong> Project</h1>
                    <p class="animated fadeInRightBig">Built in Bootstrap</p>
                    <a data-scroll class="learn-more animated fadeInUpBig" href="#servic">Start now</a>
                </div>
            </div>
            <div class="item" style="background-image: url(../../Content/TeamTheme/images/slider/bg-3.jpg)">
                <!-- Change Image -->
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">We love <strong>Simplicity</strong></h1>
                    <p class="animated fadeInRightBig">Ready to Start</p>
                    <a data-scroll class="learn-more animated fadeInUpBig" href="#servic">Start now</a>
                </div>
            </div>
        </div>
        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>




    <section class="section-wrapper" id="servic">
        <div class="works">
            <!-- Block Title -->
            <div class="element-title">
                <div class="row">
                    <div class="container">
                        <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                            <h1><span>OUR srvices</span></h1>
                        </div>
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">These Are Our <span class="main-color">Services</span>, Made With <span class="main-color">Love & Passion</span></h3>
                    </div>
                </div>
            </div>
            <!-- End Block Title -->
            <div class="row">
                <div class="container-fluid">
                    <div class="wrapper-works">
                        <div class="portfoliO">
                            <ul id="filters" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
                                <li><a href="#works" data-scroll class="btn filter  animated fadeInUpBig" data-filter="all">Cosulting Us</a></li>
                                <li><a href="#works" class="btn filter btn-default animated fadeInUpBig " data-filter=".category-1">instructions</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login Section -->
    </section>
        
    <section class="section-wrapper" id="works">


        @Html.Action("Login", "Account")

        <h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">OR</h1>

        @Html.Action("Register", "Account")

</section>




        <!-- end Section --
        <!-- Team Section -->
        <section class="section-wrapper" id="team">
            <div class="team">
                <!-- Block Title -->
                <div class="meet-the-team">
                    <div class="element-title">
                        <div class="row">
                            <div class="container">
                                <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                                    <h1><span>MEET THE TEAM</span></h1>
                                </div>
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Our Creative Team</h1>
                                <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">This Is Our <span class="main-color">Team</span>, This Is Our <span class="main-color">Family</span></h3>
                            </div>
                        </div>
                    </div>
                    <!-- End Block Title -->
                    <div class="row">
                        <div class="container">
                            <div class="wrapper-team">
                                <div class="col-lg-4 col-md-3">
                                    <div class="team-member">
                                        <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
                                            <div class="team-member-image">
                                                <img src="~/Content/TeamTheme/images/team/member-1.jpg" alt="" /> <!-- Change Image -->
                                                <div class="team-overlay">
                                                    <div class="img-overlay"></div>
                                                </div>
                                                <div class="overlay-content">
                                                    <div class="team-member-social-list">
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-member-meta">
                                                <h4 class="team-member-name"><span class="main-color">J</span>ane <span class="main-color">D</span>oe</h4>
                                                <div class="team-member-role">CEO</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3">
                                    <div class="team-member">
                                        <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="500ms">
                                            <div class="team-member-image">
                                                <img src="~/Content/TeamTheme/images/team/member-2.jpg" alt="" /> <!-- Change Image -->
                                                <div class="team-overlay">
                                                    <div class="img-overlay"></div>
                                                </div>
                                                <div class="overlay-content">
                                                    <div class="team-member-social-list">
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-member-meta">
                                                <h4 class="team-member-name"><span class="main-color">M</span>ark <span class="main-color">W</span>ood</h4>
                                                <div class="team-member-role">Creative Director</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3">
                                    <div class="team-member">
                                        <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="800ms">
                                            <div class="team-member-image">
                                                <img src="~/Content/TeamTheme/images/team/member-3.jpg" alt="" /> <!-- Change Image -->
                                                <div class="team-overlay">
                                                    <div class="img-overlay"></div>
                                                </div>
                                                <div class="overlay-content">
                                                    <div class="team-member-social-list">
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                        <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                                    </div>
                                                    <a class="view-profile profile-read-more" href="#" data-single_url="profile3.html">Profile</a>
                                                </div>
                                            </div>
                                            <div class="team-member-meta">
                                                <h4 class="team-member-name"><span class="main-color">K</span>en <span class="main-color">S</span>mith</h4>
                                                <div class="team-member-role">Sales Manager</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Profile Team -->
                <div id="team-single-wrap">
                    <div id="team-single">
                    </div>
                </div>
                <!-- End Profile Team -->
            </div>

            <!-- Skills -->
            <div class="skills parallax">
                <div class="overlay">
                    <div class="wrapper-block-skills">
                        <!-- Block Title -->
                        <div class="element-title">
                            <div class="row">
                                <div class="container">
                                    <h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">OUR CRAZY SKILLS</h1>
                                    <h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
                                </div>
                            </div>
                        </div>
                        <!-- End Block Title -->
                        <div class="row">
                            <div class="container">
                                <div class="wrapper-count">
                                    <div class="col-lg-3 col-md-3">
                                        <!-- SKILL ONE -->
                                        <div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
                                            <input type="text" class="knob" value="86">
                                            <h4>Web Design</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <!-- SKILL TWO -->
                                        <div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
                                            <input type="text" class="knob" value="93">
                                            <h4>Html5</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <!-- SKILL THREE -->
                                        <div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                                            <input type="text" class="knob" value="88">
                                            <h4>JQuery</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <!-- SKILL Four -->
                                        <div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="1100ms">
                                            <input type="text" class="knob" value="95">
                                            <h4>CSS3</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Skills -->

        </section>
        <!-- End Team Section -->
        <!-- Contact Section -->
    @Html.Action("Create", "Contacts", null);
        <!-- End Contact Section -->

    </section>




 
